:root {
    --header-height: 60px;
    --footer-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General style */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    background-color: #1b1b1c;
    color: #fff;
    flex: 1;
}

.begin {
    overflow-y: hidden;
}

/* Header style */
header {
    border-bottom: 1px solid #e8e8e8;
    position: sticky;
    top: 0px;
    background-color: #1b1b1c;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
    font-size: small;
    font-weight: 450;
    height: var(--header-height);
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #f0f0f0;
}

nav a:hover {
    font-weight: bold;
}

/* Main content styling */
main {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    align-items: center;
    padding: 2% 10%;
    height: calc(100dvh - var(--header-height) - var(--footer-height));
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;
}

.home-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

h3.greeting{
    font-weight: 600;
}

h1.name{
    font-family: Poppins, sans-serif;
}

.banner img {
    background-color: #e8e8e8;
    width: 250px;
    height: 80%;
    padding: 10px;
}

.banner .social-list{
    width: fit-content;
    display: flex;
    gap: 20px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: 550;
}

.social-button:hover {
    width: 130px;
    border-radius: 50px;
    justify-content: center;
    padding-left: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.social-button .iconify {
    font-size: 32px;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
    z-index: 2;
}

.social-button:hover .iconify {
    transform: translate(-135%, 0px) rotate(360deg);
}

.button-text {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
}

.social-button:hover .button-text {
    opacity: 1;
    transform: translateX(8px);
}

.social-button:not(:hover) {
    transition: all 0.3s ease-in-out;
}

/* Footer styling */
footer {
    bottom: 0;
    background-color: #1b1b1c;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
    font-size: small;
    font-weight: 450;
    height: var(--footer-height); 
}

footer ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: #f0f0f0;
}

footer a:hover {
    font-weight: bold;
}