:root {
    --header-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General style */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    background: linear-gradient(180deg, #171719 0%, #1b1b1c 100%);
    color: #f1f1f1;
    flex: 1;
}

.begin {
    overflow-y: hidden;
}

/* Header style */
header {
    position: sticky;
    top: 0px;
    background-color: #1b1b1c;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
    font-size: small;
    font-weight: 450;
    height: var(--header-height);
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #f0f0f0;
}

nav a:hover {
    font-weight: bold;
}

/* Main content styling */
main {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 2% 10%;
    min-height: calc(100dvh - var(--header-height));
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    padding: 0% 10%;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

h3.greeting {
    font-weight: 600;
}

.banner img {
    background-color: #e8e8e8;
    width: 250px;
    height: 80%;
    padding: 10px;
}

.banner .social-list {
    width: fit-content;
    display: flex;
    gap: 18px;
}

.social-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-button a {
    display: flex;
    color: #f1f1f1;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    font-size: 24px;
}

.social-button:hover {
    box-shadow: 0 2px rgba(255, 255, 255, 0.6);
    transform: translateY(-2px);
}